@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
/* shared styles starts */
 body{
    background-color: black;
}
.display-flex{ 
    display: flex;
}
.background-color, .contact-form > input,.contact-form > button{
    background-color: rgb(230, 83, 60);
}
.btn{
    font-weight: 600;
    font-size: .5rem;
    border-radius: 1rem;
    padding: .5rem 1rem;
    border: none;
}
.btn-2{
    background-color: black;
    border: 1px solid white;
    margin-left: 10px;
}
.text-decoration{
    text-decoration: none;
    color: white;
}

.text-headline, h6,th{
    color: white;
}
.text-color ,.contact-form > button, tr ,td, p{
    color: rgba(255, 255, 255, 0.5);
}
.headline-color{
    color: rgb(230, 83, 60);
}
.font-weight{
    font-weight: 900;
    font-size: 3rem;
}
.font-weight2{
    font-weight: 400;
    font-size: 14px;
}
.margin-bottom{
    margin-bottom: 0;
}
.margin-top{
    margin-top: 0;
}
/* shared styles ends */
/* nav styles stats */
.navbar, .banner,.run-extra{
justify-content: space-between;
max-width: 1000px;
margin: 0 auto;
align-items: center;

}
.banner{
    background-image: linear-gradient(to bottom, #000000, #0e0d0e, #171717, #1f1e1e, #272626, #272626, #272626, #272626, #1f1e1e, #171717, #0e0d0e, #000000);
}
.nav-tittle{
    font-size: 2rem;
}
.nav-links{
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.150);
    border-radius: 1rem;
    padding: .5rem;
}
.nav-item{
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    margin-right: 1.25rem;
    color: white;
}
.menu ul li:last-child a{
    margin-right: 0;
}
.nav-links li :hover{
    background-color:rgba(230, 83, 60, 1.00);
    border-radius: 1rem;
    padding:.5rem;
    font-weight: 600;
    cursor: pointer;
}
.hamburger{
    display: none;
}
/* nav styles ends */
/* banner start */
.banner-right, .banner-left{
    width: 45%;     
}
.banner-tittle{
    font-weight: 900;
    font-size: 3.75rem;
    letter-spacing: 2px;
    margin: 0;
}
.miama{
    font-family: 'Miama', sans-serif;                                             
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
}
.banner-right > img{
    width: 50%;
}
.banner-right{
    position: relative;
}
.free-workout,.video-tutorial{
    background-color: rgba(255, 255, 255, 0.10);
    color: white;
    width: max-content;
    padding: 8px 32px;
    position: absolute
}
.free-workout{
    top: 90px;
    left: 150px;
}
.s_btn{
    font-size: 2.5rem;
     font-weight: 900;
     text-decoration: none;
}
.video-tutorial {
    bottom: 50px;
    right: 396px;
    }
    .circle{
        position: relative;     
    }
.box{
    background-color:rgb(230, 83, 60);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    right: 88px;
    top: 16px;
}
/* banner end */
/* main starts */
.change-habit{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.border-radius {
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.150);
}
.change-habit-h6 {
    font-weight: 600;
    font-size: 1.5rem;
}
/* run starts */

.run-extra{
    background-color:rgba(128, 128, 128, 0.724);
    margin-top: 25px;
}
.run-extra-left , .run-extra-right{
    width: 40%;
}
.run-extra-left{
     margin-left: 60px;
     height: 375px
}
.run-extra-right  > img{
    object-fit: none;
    object-position: 68% 32%;
    width: 90%;
    height: 350px;
    border-radius: 15px;     
}
/* run ends */
/* bmi starts */
.bmi_calc, .contact{
    text-align: center;
    background-color: black;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th , td{
    padding: 10px 15px;
  }
.bmi-form {
    display: flex;
    justify-content: space-evenly;
    background-color:rgba(128, 128, 128, 0.724);
    padding-bottom: 10px;
}
.bmi-h3{
    font-weight: 900;
    font-size: 28px;
}
 .bmi-right,.bmi-left{
    width: 40%;
 }
 form{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 10px;
 }
 .bmi-right input , select{
    border-radius: 8px;
    padding: 6px;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    background-color:rgb(128 128 128 / 27%)
 }
 .i-1, .i-3{
    grid-column: 1/span 6;
 }
 .i-2 , .i-4{
    grid-column: 7/span 6;
 }
 .i-5{
    grid-column: 1/span 12;
 }
 .bm_btn{
    font-weight: 600;
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
    grid-column: 1/span 4;
    border: none;
    
 }
/* bmi ends */
/* meet starts */
.meet-team{
    text-align: center;
    max-width: 1000px;
    margin: 0 auto; 
}
.meet-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.meet-img-1{
    background-image: url(../images/trainer1.png);   
    position: relative;
}
.meet-img-2{
    background-image: url(../images/trainer2.png);
    position: relative;
}
.meet-img-3{
    background-image: url(../images/trainer3.png);
    position: relative;
}
.meet-img-4{
    background-image: url(../images/trainer4.png);
    position: relative;  
}
.meet-img-5{
    background-image: url(../images/trainer5.png);
    position: relative;   
}
.meet-img-6{
    background-image: url(../images/trainer6.png);
    position: relative;  
}
.meet-text{
    position: absolute;
    top: 200px;
    left: 20px;
}
.meet-text h2 ,h6{
    margin: 0;
}
.image-properties{
    text-align: left;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-size: cover;
    color: white;
    margin: 7px;
    height: 250px;
}
/* meet ends */
/* contact starts */
.contact-form >input{
    margin-right: 20px;
    padding: 10px 100px;
    border-radius: 10px;
    border: none;
    background-color: white;
    
}
.contact-form > button{
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
}
/* contact ends */
/* main ends */
/* footer starts */
.footer-bg{
    background-color:rgba(128, 128, 128, 0.724);

}
footer{
margin-top: 40px;
}
.footer{
    max-width: 1000px;
    margin: 0 auto;

}
.footer-top{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: 30px;
}
.footer-h1{
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
}
.footer-top-1{
    grid-column: 1/span 6;
}
.footer-top-2{
    grid-column: 8/span 2;
}
.footer-top-3{
    grid-column: 11/span 2;
}

 .footer-bottom > p{
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 20px 0;
 }
/* footer ends */

